/* This places css for home page */

* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(212, 212, 212);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(194, 194, 194);
    background: radial-gradient(circle, rgba(194, 194, 194, 1) 22%, rgba(138, 123, 103, 1) 51%, rgba(69, 61, 64, 1) 75%);
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    position: relative;
    width: 940px;
    height: 500px;
    background: rgba(0, 0, 0, 0.7);
    margin-left: 20px;
}

.container .background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .background.sv1 {
    background-size: cover;
    box-sizing: border-box;
    clip-path: polygon(0 0, 45% 0, 55% 100%, 0% 100%);
}

.container .background.sv2 {
    background-size: cover;
    box-sizing: border-box;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 55% 100%);
}

.container:hover .background {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .background:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.background.sv1 img,
.background.sv2 img {
    width: 100%;
    height: 100%;
}

.big-title {
    font-size: 40px;
    position: fixed;
    color: #fff;
    top: 10px;
}

.info-1,
.info-2 {
    width: 35%;
    background: rgba(158, 158, 158, 0.7);
    text-align: center;
}

.info-1 h2,
.info-2 h2 {
    font-size: 35px;
    line-height: 50px;
    margin: 40px 0 20px 0;
}

.info-1 a,
.info-2 a {
    font-size: 15px;
    background-color: #000;
    line-height: 60px;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.info-1 a:hover,
.info-2 a:hover {
    border: 2px solid #000;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}

.container .background .info-1,
.container .background .info-2 {
    border-radius: 25px;
    position: absolute;
    bottom: -20px;
    transition: 0.7s;
    opacity: 0;
}

.container .background .info-1 {
    left: 55%;
}

.container .background .info-2 {
    right: 55%;
}

.container .background:hover .info-1,
.container .background:hover .info-2 {
    bottom: 50%;
    opacity: 1;
}